table.GeneratedTable {
  width: 100%;
  background-color: #FAF0E6;
  border-collapse: collapse;
  border-width: 1px;
  border-color: #171716;
  border-style: solid;
  color: #242424;
  font-family: 'Karla';
  font-size: 10 px;
  font-weight: 'Light';
}

table.GeneratedTable td, table.GeneratedTable th {
  border-width: 1px;
  border-color: #171716;
  border-style: solid;
  padding: 3px;
  font-family: 'Karla';
  font-size: 10 px;
  font-weight: 'Light';  
}

p.Karla10 {
  font-family: 'Karla';
  font-size: 20 px;
  font-weight: 'Light';
}
